*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

html{
    font-family:'Lato',sans-serif,'Arial';
    font-size: 20px;
    font-weight:300;
    background-color: white;
    color:#555;
    text-rendering: optimizeLegibility;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)),url(img/home_background.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.site-name{
    font-size:30px;
}
.site-name:link,.site-name-post:link,
.site-name:visited,.site-name-post:visited
{
    color: white;
    text-shadow: -10px 0px 20px #00cb7d, 0px 10px 20px #00cb7d, 10px 0px 20px #00cb7d, 0px -10px 20px #00cb7d;
    transition: text-shadow 0.2s;
}

.site-name:active,.site-name-post:active,
.site-name:hover,.site-name-post:hover{
    color: white;
    text-shadow: -20px 0px 40px #00cb7d, 0px 20px 40px #00cb7d, 20px 0px 40px #00cb7d, 0px -20px 40px #00cb7d;
    
}

.menu li{
    display:inline-block;
    padding-left: 50px;
}

.menu ul{

    list-style: none;
    text-align:center;
    padding-left: 30px;
    padding-right: 30px;
}

.menu ul li  :link,
.menu ul li :visited
{
    text-decoration: none;
    color:white;
    font-size: 120%;
    border-bottom: 3px transparent white;
    transition: border-bottom 0.2s;
}


.menu ul li :active,
.menu ul li :hover
{
    color:white;
    text-decoration: none;
    font-size: 120%;
    border-bottom: 3px solid  #00cb7d;
}
/*8*****************/

.header{
    padding:15px;
    text-align: center;
}



.post-name{
    padding:30px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: -2px 0px 0px #00cb7d, 0px 2px 0px #00cb7d, 2px 0px 0px #00cb7d, 0px -2px 0px #00cb7d;
}


.summary-box{
    margin-top: 10%;
    padding:15px;
    text-align: center;
    color:white;
    margin-left: 10%;
    margin-right: 10%;
}


.links{
    text-decoration: none;
   
    color:#00cb7d;    
}
.summary-links{
    font-weight: 700;
    
}

.post-links{
     font-weight: 300;
}



.summary-about
{
    float:right;
    margin-top: 10%;
    margin-left:5%;
    margin-right:5%;
    width:800px;
    color:white;
    font-weight: 300;
    text-align:center;    
}

.author-img {
    display: block;
    margin: 50px auto 50px auto;
    margin-top: 50px;
    width:150px;
    border-radius:1000px;
    border: #00cb7d solid 5px;
    background-color:#00cb7d; 
    
}

.text-section{
    width:800px;
    max-width:1140px;
    margin: 0 auto;
    font-size:20px;
    background-color: rgba(0, 0, 0, 0.72);
}

.img-section{
    width:800px;
    max-width:1140px;
    margin: 0 auto;
    padding-top: 50px;
}
.post-text{
    color:white;
}

.post-list{
    list-style-position: inside;
}

.post-paragraph,.list-heading{
    padding-top:25px;
    padding-bottom:25px;
}

.list-heading{
    font-size: 22px;
    text-decoration: underline;
}

.post-images{
    padding-top: 50px;
    padding-bottom:50px;
    
}

.small-post-images
{
    padding-left: 50px;
    padding-top: 50px;
    width:200px;
}

.medium-post-images{
 width:398px;   
}

.large-post-images{
    width:800px;
}

.text-highlight{
    text-decoration: underline;
}

.demo-video{
    display: block;
    margin:auto;
}

.contact-info{
    
}

/*




*/


.under-post-name {
    color: white;
    text-align:center;
}
